@font-face {
    font-family: GothamMed;
    src: url(../fonts/GothamMed.otf);
}

@font-face {
    font-family: GothamLight;
    src: url(../fonts/GothamLight.otf);
}

@font-face {
    font-family: CornerStoreJF;
    src: url(../fonts/CornerStoreJF.otf);
}

body{
	padding:0px;
	margin: 0px;
}

.clearfix{
	clear: both;
}

#lightbox{
	position:absolute;
	z-index: 1000;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
}

#lbPint img{
	width:60%;
	height:auto;

}

#LightText{
	margin:80px;
}

#lightBoxContentBox{
	width:50%;
	height:50%;
	background:#329406;;
	border-radius:30px;
	/*trick to put a div in the middle*/
	position: absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	text-align: center;
	font-family: GothamLight;
	color:white;

}

#closeBtn{
	cursor: pointer;
	background:white;
	color:#329406;
	padding: 10px;
	text-align: center;
	border: 0px;
	border-radius: 30px;
	margin: 30px;
	font-size: 20px;
	font-family: CornerStoreJF;

}

#noBtn{
	cursor: pointer;
	background:white;
	color:#329406;
	padding: 10px;
	text-align: center;
	border: 0px;
	border-radius: 30px;
	margin: 30px;
	font-size: 20px;
	font-family: CornerStoreJF;


}


#banner img{
	width:20%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#bottles img{
	width:110%;
	height:auto;
	margin: 0 auto;
	margin-bottom: 0px;
	position: absolute;
	right:0px;

}
.titleText p{
	margin: 5px;
}

#visitBottles img{
	width:110%;
	height:auto;
	margin: 0 auto;
	margin-bottom: 0px;
	position: absolute;
	right:0px;

}

#homeBeers img{
	width:65%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom:1px;

}

.homeImages{
	padding-bottom: 0px;
}

.titleText{
	font-family: CornerStoreJF;
	font-size: 90px;
	color: white;
	margin:0px;
	padding-top: 5px;
	padding-left: 70px;
	float:left;

}

.pintText{
	font-family: CornerStoreJF;
	font-size: 35px;
	color: white;
	padding-top: 90px;
	padding-left:130px;
	margin-top: 30px;
	margin-bottom: 0px;
	text-align: center;
	line-height: 1.15;
	float: right;
}

.pints{
	margin-top: 245px;
}
.pints img{
	width: 45%;
	margin-top:-240px}

.merch img{
	width:60%;
	display: block;
	padding:10px;
	margin:auto;
}

.merch {
	margin:auto;
	width:60%;
	margin-top:200px;
	text-align:center;
}

.bCircle{
	background-color: #329406;
}

#beerCircle{
	background-color: #329406;
	height:350px;
	width:350px;
	border-radius:175px;
	margin: auto;
	margin-top: 75px;
	cursor:pointer;
}
.aboutText {
	font-family: GothamLight;
	font-size: 20px;
	padding: 20px;
	color: black;
}

	
.aboutBox{
	background-color: white;
	height:620px;
	width:750px;
	margin-left: 80px;
	margin-top: 15px;
}

.visitText {
	font-family: GothamMed;
	font-size: 20px;
	padding-left: 50px;
	color: white;
	margin-right: 30px;
	margin-top: 60px;
	line-height: 0.5;
	text-align: center;
	text-shadow: 2px 2px #000000;

}

.subVistText{
	font-family: CornerStoreJF;
	font-size: 38px;
	color: #329406;
	margin:0px;
	margin-top: -60px;
	padding-left: 70px;
	float:left;

}

#socialIcons {
	width: 60px;
	margin-left: 130px;
	margin-top: 110px;

	
}


#map img{
	width: 700px;
	height: auto;
	margin-top: -240px;
	margin-right: 120px;
	float:right;
	text-align: center;
}

	
nav{}

nav ul{
	list-style:none;
	padding:0px;

	}

nav ul li{
	border:solid 0px #000;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #329406;
	font-size: 14pt;
	font-family: GothamMed;
	text-transform: uppercase;
	width: 20%;
	float: left;

}

nav ul li:hover{
	background:#329406;
}


nav ul a{
	text-decoration: none;
	color:white;

}
nav ul a:hover{
	color:black;}

footer {
	text-align: center;
	font-size: 8pt;
	font-family: GothamMed;
	color:white;
	clear:both;
	position: relative;
    top: 175px;
}

