@font-face {
    font-family: GothamMed;
    src: url(../fonts/GothamMed.otf);
}

#banner img{
	width:15%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

#bottles img{
	width:130%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding top: 5px;
	margin-bottom: 0px;

}

#homeBeers img{
	width:70%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;

}

.homeImages{
	padding-bottom: 0px;
}


nav{}

nav ul{
	list-style:none;
	padding:0px;

	}

nav ul li{
	border:solid 0px #000;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #329406;
	font-size: 14pt;
	font-family: GothamMed;
	text-transform: uppercase;
	width: 20%;
	float: left;

}

nav ul li:hover{
	background:#329406;
}


nav ul a{
	text-decoration: none;
	color:white;

}
nav ul a:hover{
	color:black;}

footer {
	text-align: center;
	font-size: 8pt;
	clear:both;
}